permissions:
  contents: write
name: Java Maven Build & Publish Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

   
  publish-job:
    runs-on: ubuntu-latest
    needs: build_test
    permissions:
      id-token: write
      contents: read
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Read current version from pom.xml
      id: read_version
      run: |
        version=$(mvn help:evaluate -Dexpression=project.version -q -DforceStdout)
         echo "CURRENT_VERSION=$version" >> $GITHUB_ENV

    - name: Calculate new version
      id: bump_version
      run: |
        current="${CURRENT_VERSION}"
        IFS='.' read -r major minor patch <<< "$current"

        if [ "$patch" -lt 100 ]; then
          patch=$((patch + 1))
        else
          patch=0
          minor=$((minor + 1))
        fi

        new_version="${major}.${minor}.${patch}"
        echo "NEW_VERSION=$new_version" >> $GITHUB_ENV

    - name: Update pom.xml version
      run: |
        mvn versions:set -DnewVersion=${NEW_VERSION} -DgenerateBackupPoms=false

    - name: Verify Maven build
      run: mvn --batch-mode --update-snapshots verify

    - name: Generate Effective POM
      run: mvn help:effective-pom -Doutput=effective-pom.xml

    - name: Prepare staging folder
      run: |
        mkdir staging
        cp effective-pom.xml staging/ || echo "No effective POM generated"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging

    - name: Commit version bump
      run: |
        git config user.name "github-actions"
        git config user.email "actions@github.com"
        git remote set-url origin https://x-access-token:${{ secrets.GITHUB_TOKEN }}@github.com/${{ github.repository }}
        git add pom.xml
        git commit -m "Release ${NEW_VERSION}" || echo "No changes"
        git tag ${NEW_VERSION}
        git push origin HEAD:master --tags

