name: Java Maven Build & Publish Artifact

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build_test:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up JDK 21
      uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

   
  publish-job:
    runs-on: ubuntu-latest
    needs: build_test
    permissions:
      id-token: write
      contents: read
    
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        java-version: '21'
        distribution: 'temurin'

    - name: Verify Maven build
      run: mvn --batch-mode --update-snapshots verify

    - name: Generate Effective POM
      run: mvn help:effective-pom -Doutput=effective-pom.xml

    - name: Prepare staging folder
      run: |
        mkdir staging
        cp effective-pom.xml staging/ || echo "No effective POM generated"
        cp target/*.pom staging/ || echo "No regular POM found"

    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: Package
        path: staging
